{% extends 'front/base.html.twig' %}

{% block title %}Projet Solo{% endblock %}

{% block body %}

<div class="container">



    <div class="solo_content">

        <div class="solo_content_card" >
                <img class="solo_image" src="{{ asset('assets/images/cerf.jpg') }}" alt="">
            <div class="solo_image_text">
                <p class="card-text">Ultra modern</p>
            </div>
        </div>

        <div class="solo_content_card" >
                <img class="solo_image" src="{{ asset('assets/images/cerf.jpg') }}" alt="">
            <div class="solo_image_text">
                <p class="card-text">“Maybe tonight, not tomorrow” (EP - 2020) “Maybe tonight, not tomorrow” (EP - 2020)</p>
            </div>
        </div>

        <div class="solo_content_card" >
                <img class="solo_image" src="{{ asset('assets/images/cerf.jpg') }}" alt="">
            <div class="solo_image_text">
                <p class="card-text">Ultra modern</p>
            </div>
        </div>

        <div class="solo_content_card" >
                <img class="solo_image" src="{{ asset('assets/images/cerf.jpg') }}" alt="">
            <div class="solo_image_text">
                <p class="card-text">Ultra modern</p>
            </div>
        </div>

        <div class="solo_content_card" >
                <img class="solo_image" src="{{ asset('assets/images/cerf.jpg') }}" alt="">
            <div class="solo_image_text">
                <p class="card-text">Ultra modern</p>
            </div>
        </div>

        <div class="solo_content_card" >
                <img class="solo_image" src="{{ asset('assets/images/cerf.jpg') }}" alt="">
            <div class="solo_image_text">
                <p class="card-text">Ultra modern</p>
            </div>
        </div>

    </div>

        <div class="soundcloud">
        <div class="soundclound-url">
        <a href="" target="_blank">SOUNDCLOUND Supersub</a>
        </div>
    </div>

</div>



{% endblock %}