<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> #}
        <meta name="author" content="Nicolas Crelier"> 
        <meta name="description" content="Compositeur Nicolas Crelier">

        <title>{% block title %}Nicolas Crelier{% endblock %}</title>

        
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">

        {# <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> #}
        
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">


        <script src="https://kit.fontawesome.com/a16151f3da.js" crossorigin="anonymous"></script>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>NC</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script defer src="{{ asset('assets/js/app.js') }}"></script>
        
        {% endblock %}
    </head>
    <body>
        {% include "front/_nav.html.twig" %}

        {% block body %}{% endblock %}
    </body>
</html>
